<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Question 1</string>
	<string>How much is (1 + 2)?</string>
	<string>5</string>
	<string>4</string>
	<string>Whatever</string>
	<string>3</string>
	<string>3</string>
	<string>Question 2</string>
	<string>What comes after &apos;C&apos;?</string>
	<string>A</string>
	<string>P</string>
	<string>D</string>
	<string>U</string>
	<string>D</string>
	<string>Question 3</string>
	<string>What is round, orange in color and has hair on top?</string>
	<string>Balloon</string>
	<string>Orange</string>
	<string>Donald Trump</string>
	<string>Don&apos;t know</string>
	<string>Donald Trump</string>
	<string>Question 4</string>
	<string>Who is the father of the nation?</string>
	<string>Mahatma Gandhi</string>
	<string>Nehru</string>
	<string>Hitler</string>
	<string>Pablo Escobar</string>
	<string>Mahatma Gandhi</string>
	<string>Question 5</string>
	<string>Fill ups D__CK</string>
	<string>U</string>
	<string>A</string>
	<string>M</string>
	<string>P</string>
	<string>U</string>
	<string>Question 6</string>
	<string>Indian Independence day is on</string>
	<string>18 Jan</string>
	<string>15 Aug</string>
	<string>27 Jan</string>
	<string>14 Feb</string>
	<string>15 Aug</string>
	<string>Question 7</string>
	<string>How much is (2 / 2)?</string>
	<string>0</string>
	<string>8</string>
	<string>1</string>
	<string>2</string>
	<string>1</string>
	<string>Question 8</string>
	<string>Alex had 3 apples and he gave away 2. What&apos;s the mass of the sun?</string>
	<string>2kg</string>
	<string>What?!</string>
	<string>400 Tons</string>
	<string>Bullshit</string>
	<string>Bullshit</string>
	<string>Question 9</string>
	<string>Rama is Sita&apos;s  _________</string>
	<string>Brother</string>
	<string>Husband</string>
	<string>Grandfather</string>
	<string>Body Guard</string>
	<string>Husband</string>
	<string>Question 10</string>
	<string>Where did Tipu Sultan die?</string>
	<string>Palace Grounds</string>
	<string>East Grounds</string>
	<string>Battle Ground</string>
	<string>Page 43</string>
	<string>Battle Ground</string>
	<string>Question 11</string>
	<string>Fill ups BO__BS</string>
	<string>L</string>
	<string>Q</string>
	<string>M</string>
	<string>Z</string>
	<string>M</string>
	<string>Question 12</string>
	<string>What comes after December?</string>
	<string>November</string>
	<string>February</string>
	<string>October</string>
	<string>New Year</string>
	<string>New Year</string>
	<string>Question 13</string>
	<string>Who wrote our National Anthem?</string>
	<string>Rabindranath Tagore</string>
	<string>Honey Singh</string>
	<string>PitBull</string>
	<string>Badshah</string>
	<string>Rabindranath Tagore</string>
	<string>Question 14</string>
	<string>What did the Pandavas have in common?</string>
	<string>Kingdom</string>
	<string>Money</string>
	<string>Strength</string>
	<string>Draupadhi</string>
	<string>Draupadhi</string>
	<string>Question 15</string>
	<string>What do you do when you see a good meme?</string>
	<string>Save it</string>
	<string>Laugh out</string>
	<string>Lock phone</string>
	<string>Share it</string>
	<string>Share it</string>
	<string>Question 16</string>
	<string>Who is the most sarcastic?</string>
	<string>Politician</string>
	<string>Chandler</string>
	<string>Tyrion</string>
	<string>Indian Moms</string>
	<string>Indian Moms</string>
	<string>Question 17</string>
	<string>Is FUCK an abbreviation?</string>
	<string>Yes</string>
	<string>No</string>
	<string>May be</string>
	<string>No way!</string>
	<string>Yes</string>
	<string>Question 18</string>
	<string>Who is the smartest?</string>
	<string>Cercei</string>
	<string>Tyrion</string>
	<string>Lady Olena</string>
	<string>Jon</string>
	<string>Tyrion</string>
	<string>Question 19</string>
	<string>Over confidence results in</string>
	<string>Arrogance</string>
	<string>Attitude</string>
	<string>Failure</string>
	<string>GOT S8</string>
	<string>GOT S8</string>
	<string>Question 20</string>
	<string>Fill ups CO__K</string>
	<string>P</string>
	<string>O</string>
	<string>B</string>
	<string>Q</string>
	<string>O</string>
	<string>Question 21</string>
	<string>The most addictive song</string>
	<string>Believer</string>
	<string>Venom</string>
	<string>Closer</string>
	<string>Baby Shark</string>
	<string>Baby Shark</string>
	<string>Question 22</string>
	<string>Who says &apos;Bazinga&apos;?</string>
	<string>Joey</string>
	<string>Arya Stark</string>
	<string>Sheldon</string>
	<string>Einstein</string>
	<string>Sheldon</string>
	<string>Question 23</string>
	<string>One better thing the world needs</string>
	<string>Food</string>
	<string>Water</string>
	<string>GOT S8</string>
	<string>Technology</string>
	<string>GOT S8</string>
	<string>Question 24</string>
	<string>Who is the almighty in India?</string>
	<string>Rajnikanth</string>
	<string>Shah Rukh Khan</string>
	<string>Modi</string>
	<string>Arnab Goswami</string>
	<string>Rajnikanth</string>
	<string>Question 25</string>
	<string>In the Indian version of Popeye, what gives him strength?</string>
	<string>Chicken Tikka</string>
	<string>Shawarma</string>
	<string>Laddu</string>
	<string>Jamoon</string>
	<string>Laddu</string>
	<string>Question 26</string>
	<string>Which animal is associated with copying?</string>
	<string>Buffalo</string>
	<string>Elephant</string>
	<string>Rat</string>
	<string>Cat</string>
	<string>Cat</string>
	<string>Question 27</string>
	<string>What is the world worst unknown?</string>
	<string>God</string>
	<string>Burmuda Triangle</string>
	<string>Penny&apos;s lastname</string>
	<string>Illuminati</string>
	<string>Penny&apos;s lastname</string>
	<string>Question 28</string>
	<string>As sly as a _____</string>
	<string>Dog</string>
	<string>Horse</string>
	<string>Fox</string>
	<string>Camel</string>
	<string>Fox</string>
	<string>Question 29</string>
	<string>As cunning as a _______</string>
	<string>Jackal</string>
	<string>Lion</string>
	<string>Pig</string>
	<string>Panther</string>
	<string>Jackal</string>
	<string>Question 30</string>
	<string>What did Lakshman do to Shurpanaki?</string>
	<string>Marry her</string>
	<string>Divorced her</string>
	<string>Cut her nose</string>
	<string>Shook Hands</string>
	<string>Cut her nose</string>
</array>
</plist>
